*{
    padding: 0px;
    margin: 0px;
    
  }
  body{
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
    background-color: #1862A3;
  }
  header{
    height: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;		
    background-color: #F0B454;
  }
  .logo1{
    position: relative;
    width: 30%;
    height: 30%;
    margin-left: 10px;
    margin-top: 10px;
    
    }
    .buscar{
        position: relative;
        top: -80px;
        left: 38%;
        width: 400px;
        background-color: #A37429;
        font-size: 100%;
      }
      #buscar2{
        position: relative;
        top: 15px;
        left: 50px;
        height: 50px;
        width: 400px;
        
      }
      .info{
        position: relative;
        width: 280px;
        height: 100px;
        background-color: #A37429;
        top: -160px;
        left: 78%;
        }
        #contacto{
          width: 50;
          height: 50;
          position: relative;
          top: 25px;
          left: 20px;
        }
        #mail1{
          width: 80;
          height: 80;
          position: relative;
          top: 25px;
          left: 20px;
        }
        .boton{
          position: relative;
          left: 40px;
          width: 100px;
          height: 40px;
          background-color: #FFC973;
        }
        .art1{
          background-color: #F0B454;
          height: 450px;
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 20px;
        }
#info{
    margin-top: 30px;
    float: right;	
}
.secciones{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    float: left;
}
#formulario01{
    float: left;
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 15px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    width: 55%;
    border: black solid 2px;
}
label{
    /*font-family: "Mystery Quest", cursive;*/
    font-size: larger;
    width: 200px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: black;
    text-align: justify;
}
#cedula {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
#nombres {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
#apellidos {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
#direccion {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
#fechaNacimiento {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
#correo {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
#contrasena {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
button{
    color: black;
}

a{
    color: black;
}
#login{
    width: 100px;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}
input{
    color: black;
}
p{
    color: black;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}
.mensaje{
    text-align: justify;
    font-size: 10px;
    
}
footer{
    width: 100%;
    float: left;
    margin-bottom: 4px;
    }
    .footer1{
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    width: 20%;
    }
    .footer2{
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
    width: 200px;
    }
    .info1{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25%;
    margin-right: 5px;
    }
.info2{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 55px;
    margin-right: 5px;
}
    
.info1 p{
    font-size: 15px;
}
.info2 p{
    font-size: 15px;
}
    
#caja3{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
}
#caja4{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
}
.secc{
    background-color: #F0B454;
    height: 850px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.secc1{
    position: relative;
    top: 20px;
    left: -30px;
    height: 800px;
    width: 800px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A37429;
    
  }
  .secc1 p{
    margin: 10px;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  .secc1 h1{
    margin-left: 10px;
    color: black;
    font-size: 50px;
    text-align: center;
  }
  .secc1 form{
      width: 600px;
  }
  .secc2{
    background-color:  #F0B454;
    height: 215px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  #informacion{
    text-align: center;
  }
  footer{
  width: 100%;
  float: left;
  margin-bottom: 4px;
  }
  .footer1{
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 20%;
  }
  .footer2{
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 5px;
  width: 200px;
  }
  
  
  .info1 p{
  font-size: 15px;
  }
  .info2 p{
    font-size: 15px;
    }
  
  #caja3{
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: black;
  }
  #caja4{
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: black;
  }
  .secc5{
    position: relative;
    top: -20px;
    background-color: #F0B454;
    height: 240px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .secc51{
    background-color: #A37429;
    position: relative;
    left: 600px;
    top: 15px;
    height: 210px;
    width: 800px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .secc51 .info1{
    position: relative;
    top: 5px;
    left: -180px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    }
    .secc51 .info2{
      position: relative;
      top: -190px;
      left: -40px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 55px;
      margin-right: 5px;
    }