*{
    padding: 0px;
    margin: 0px;
    
  }
  body{
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
    background-color: #1862A3;
  }
  header{
    height: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;		
    background-color: #F0B454;
  }
  .secciones1{
    width: 100%;
    margin-top: 8px;
      margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
      position: relative;
    float: left;
    text-align: center;
      color: black;	
    }
    a {
        top:50px;
        }
    .articulos{
    width: 49%;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;

    }
    .logo1{
        position: relative;
        width: 30%;
        height: 30%;
        margin-left: 10px;
        margin-top: 10px;
        
        }
        .buscar{
            position: relative;
            top: -80px;
            left: 38%;
            width: 400px;
            background-color: #A37429;
            font-size: 100%;
          }
          #buscar2{
            position: relative;
            top: 15px;
            left: 50px;
            height: 50px;
            width: 400px;
            
          }
          .info{
            position: relative;
            width: 280px;
            height: 100px;
            background-color: #A37429;
            top: -160px;
            left: 78%;
          
          }
          #contacto{
            width: 50;
            height: 50;
            position: relative;
            top: 25px;
            left: 20px;
          }
          #mail1{
            width: 80;
            height: 80;
            position: relative;
            top: 25px;
            left: 20px;
          }
            .info button{
            position: relative;
            top: 0px;
            left: 40px;
            width: 100px;
            height: 40px;
            background-color: #FFC973;
          }
#buscar {
    margin: 0;
    padding: 10px;
    float: left;
    width: auto;
    font-size: 100%;
    margin-top: 40px;
}
#buscar {
    padding: 2px;
    float: left;
    margin-left: 55px;
    position: absolute;
    width: 30%;
    left: 35%;
    text-align: center;
}

.secciones{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    float: left;
}
#formulario01{
    float: left;
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 15px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    width: 40%;
}
label{
    /*font-family: "Mystery Quest", cursive;*/
    font-size: larger;
    width: 200px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: black;
    text-align: justify;
}

#correo {
    position: relative;
    left: -50px;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
#boton{
    position: relative;
    top: 8px;
    left: 40px;
    width: 100px;
    height: 40px;
    background-color: #FFC973;
  }
#contrasena {
    position: relative;
    left: -50px;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border-radius: 5px;
}
button{
    color: black;
}

a{
    color: black;
}
#login{
    width: 100px;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.secc{
  position: relative;
  top: -338px;
  left: -350px;
  
  width: 45%;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #A37429;
  
}
.secc p{
    margin: 10px;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  .secc h1{
    margin-left: 10px;
    color: black;
    font-size: 50px;
    text-align: center;
  
  }
input{
    color: black;
}
p{
    color: black;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}

.secc5{
    position: relative;
    background-color: #F0B454;
    height: 240px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .secc51{
    background-color: #A37429;
    position: relative;
    left: 600px;
    top: -150px;
    height: 210px;
    width: 800px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .secc51 .info1{
    position: relative;
    top: 5px;
    left: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    }
    .secc51 .info2{
      position: relative;
      
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 55px;
      margin-right: 5px;
    }
  #intro{
  width: 100%;
  margin-top: 15px;
  }
  #caja1{
  position: relative;
  
  left: 250px;
  width: 250px;
  height: 270px;
  text-align: center;
  }
  #caja2{
  position: relative;
  top: -450px;
  left: 1000px;
  width: 250px;
  height: 270px;
  text-align: center;
  }
  #img1{
    border-radius: 25%;
  }
  #iconoF{
  width: 6.5%;
  height:65px;
  position: relative;
  left: 15px;
  margin-top: 10px;
  margin-right: auto;
  text-align: center;
  
  }
  #iconoI{
  position: relative;
  left:6.5%;
  top: -68px;
  width: 6.5%;
  height:65px;
  text-align: center;
  }
  #logP1{
  width: 13%;
  height:130px;
  position: relative;
  margin-right: auto;
  text-align: center;
  top: -120px;
  left: -65px;
  font-size: 25px;
  }
  #imag{
  text-align: center;
  }
  .i1{
  float: left;
  margin-left: 100px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  }
    .info1{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25%;
    margin-right: 5px;
    }
    .info2{
      float: right;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 55px;
      margin-right: 5px;
    }
    
    .info1 p{
    font-size: 15px;
    }
    .info2 p{
      font-size: 15px;
      }
    
    #caja3{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    }
    #caja4{
        position: relative;
        left: 250px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        }
    .secc2{
        background-color:  #F0B454;
        height: 415px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
      }
      .secc21{
        position: relative;
        left: 375px;
        margin: 10px;
        background-color: #A37429;
        width: 50%;
      }
      .secc21 h2{
        text-align: center;
      }
      .secc211{
        position: relative;
        left: 140px;
      }
      .sec212{
        position: relative;
      
      }
      .secc212 #cedula{
        position: relative;
        left: 275px;
      }
      .secc212 #busc{
        width: 100px;
        height: 25px;
        position: relative;
        top: 15px;
        left: 310px;
      }